@import "variables";

// use a hack to place a inner element to center in box
// see: http://c-brains.jp/blog/wsg/14/08/06-100100.php

.home {
  .header-head {
    div.centerize {
      h1 {
        font-size: 64px;
        color: $app-body-bg;
      }
      p {
        margin-top: 20px;
      }
    }
  }
}
