@import "variables";
@import "mixins";

// NOTE:
// .home はページの識別子として header block, main block の両方で使われているので、
// 直下にスタイルを定義しないように。

.home {

  div.messages-list-panel {
    div.messages-list-panel-head {
      div.message-form-block {
        @extend .top-radius;
      }
    }

    ul > li.message {
      &:first-child {
        border-top: 1px solid $app-separator-active;
      }

      .message-head {
        .message-icon {
          img {
            width: 48px;
            height: 48px;
          }
        }
      }

      .message-foot {
        ul li {
          padding-left: 0px;
        }
      }
    }
  }

}
