@import "variables";
@import "mixins";

// NOTE:
// .home はページの識別子として header block, main block の両方で使われているので、
// 直下にスタイルを定義しないように。

.home {

  //  home profile panel
  // ----------------------------------------------

  div.home-profile-panel {
    div.home-profile-panel-head {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      height: 95px;
      background-color: $app-active;

      div.home-profile-image {
        border-radius: 5px;
        width: 80px;
        height: 80px;
        margin-left: 10px;
        margin-right:10px;
        margin-top: 60px;
        padding: 4px;
        float: left;
        background-color: $app-body-bg;

        img {
          width: 72px;
          height: 72px;
          border-radius: 3px;
        }
      }

    }

    div.home-profile-panel-main {
      padding-top: 5px;
      padding-left: 10px;
      padding-right: 10px;

      p.home-profile-name {
        margin: 0;
        font-size: 125%;
        font-weight: bold;
        a, a:visited, a:hover {
          color: $app-text;
        }
      }

      .home-profile-screen-name {
        margin: 0;
        color: $app-text-light;
        font-size: 82.5%;

        a {
          color: $app-text-light;
        }
      }

      ul.list-inline {
        margin-top: 15px;
        li {
          padding-right: 13px;

          span.nav-label,
          span.nav-value {
            display: block;
          }

          span.nav-label {
            font-size: 75%;
            color: $app-text-lighter;
          }
          span.nav-value {
            font-weight: bold;
          }
        }
      }
    }
  }


  //  messages panel
  // ----------------------------------------------

  div.messages-panel {
    div.messages-panel-head {
      padding: 10px;
      background-color: $app-bg-active;
      border-bottom: 1px solid $app-separator-active;
      border-top-left-radius:  10px;
      border-top-right-radius: 10px;

      .message-icon {
        position: absolute;

        img {
          width: 32px;
          height: 32px;
          border-radius: 3px;
        }
      }

      form.message-form {
        margin-left: 40px;

        .message-submit {
          display: none;
        }
      }
    }

    ul li.message {
      .message-head {
        .message-icon {
          img {
            width: 48px;
            height: 48px;
          }
        }
      }

      .message-foot {
        ul li {
          padding-left: 0px;
        }
      }
    }
  }

}
