div.signup-link-block
  h3 #{ t('users.shared.signup.title') }
  p #{ t('users.shared.signup.new_visitor_question') } 
    #{ link_to(t('users.shared.signup.link_text'), new_registration_path(resource_name)) }
