@import "buttons";
@import "variables";

$app-favorite-active : #ffac33;


form.favorite-button,
form.unfavorite-button {
  > button.btn.btn-link {
    &:hover {
      color: $app-favorite-active;
    }
  }
}

form.unfavorite-button {
  > button.btn.btn-link {
    color: $app-favorite-active;
  }
}
