@import "variables";
@import "mixins";


form.message-form {
  .form-group {
    margin-bottom: 0px;

    textarea.message-text {
      border: 1px solid $app-separator-active;
      @include placeholder-color($app-active);

      &:focus {
        box-shadow: none;
      }
    }
  }

  .message-submit {
    padding-top: 10px;
    text-align: right;

    .message-count {
      margin-right: 15px;
    }
  }
}
