@import "buttons";
@import "variables";

$app-retweet-active : #5c913b;


form.retweet-button,
form.unretweet-button {
  > button.btn.btn-link {
    &:hover {
      color: $app-retweet-active;
    }
  }
}

form.unretweet-button {
  > button.btn.btn-link {
    color: $app-retweet-active;
  }
}
