@import "bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";
@import "buttons";
@import "variables";


.follow-button-group {
  display: inline-block;

  form.follow-button, form.edit-profile-button, form.redirect-button {
    > button {
      font-weight: bold;

      > b {
        color: $app-active;
      }
    }
  }

  form.unfollow-button {
    > button {
      min-width: 90px;

      > .unfollow  { display: none; }
      > .following { display: inline-block; }

      &:hover {
        @extend .btn-danger;

        > .unfollow  { display: inline-block; }
        > .following { display: none; }
      }
    }
  }
}
