@import "variables";


.dropdown-menu {
  > li > a {
    &:hover {
      color: #fff !important;
      background-color: $app-active;
    }
  }
}

.user-actions-button {
  color: $app-text-light;
  padding: 6px;
}

