@import "variables";


.modal {
  // width of modal dialog
  & > .modal-dialog > div.container {
    max-width: 560px;
  }

  div.modal-header {
    /* border-bottom-color: $app-separator-active; */
    padding: 10px;

    h4 {
      font-size: 16px;
      color: $app-text-light;
      text-align: center;
    }
  }

  div.modal-body {
  }

  div.modal-footer {
    border-bottom-left-radius:  5px;
    border-bottom-right-radius: 5px;
  }
}


#message-dialog {
  // width of modal dialog
  & > .modal-dialog > div.container {
    max-width: 560px;
  }

  div.modal-body {
    border-top: 1px solid $app-separator;
  }

  div.modal-footer {
    background-color: $app-bg-active;
  }
}

.confirmation-dialog-description {
  font-size: 15px;
  /* text-align: center; */
}
