script type="text/x-template" id="favorite-button-template"
  div.follow-button-group
    = form_tag(favorites_path(format: 'json'),
        class: 'favorite-button',
        format: 'json',
        remote: true,
        'v-show' => '!isFavorited') do |f|
      = hidden_field_tag 'favorite[message_id]', '{{message.id}}'
      button class='btn btn-link' id='favorite-message-{{message.id}}' type='submit' data-toggle="tooltip" title="#{ t('vue.favorite_button.favorite') }" v-class="
        disabled: !canFavorite
      "
        b.fa.fa-star
        span.favorites-count v-if="showCount && hasFavorites" = "{{ message.favorited_count }}"
    = form_tag(bindable_path('favorite', '{{message.favorited.id}}', format: 'json'),
               method: :delete,
               class: 'unfavorite-button',
               remote: true,
               'v-show' => 'isFavorited') do |f|
      button class='btn btn-link' id='unfavorite-message-{{message.id}}' type='submit' data-toggle="tooltip" title="#{ t('vue.favorite_button.unfavorite') }" v-class="
        disabled: !canFavorite
      "
        b.fa.fa-star
        span.favorites-count v-if="showCount && hasFavorites" = "{{ message.favorited_count }}"
