script type="text/x-template" id="retweet-button-template"
  div.follow-button-group
    = form_tag(retweets_path(format: 'json'),
        class: 'retweet-button',
        format: 'json',
        remote: true,
        'v-show' => '!isRetweeted') do |f|
      = hidden_field_tag 'retweet[message_id]', '{{message.id}}'
      button class='btn btn-link' id='retweet-message-{{message.id}}' type='submit' data-toggle="tooltip" title="#{ t('vue.retweet_button.retweet') }" data-confirm="#{ t('vue.retweet_button.confirm_retweet') }" v-class="
        disabled: !canRetweet
      "
        b.fa.fa-retweet
        span.retweets-count v-if="showCount && hasRetweets" = "{{ message.retweeted_count }}"
    = form_tag(bindable_path('retweet', '{{message.retweeted.id}}', format: 'json'),
               method: :delete,
               class: 'unretweet-button',
               remote: true,
               'v-show' => 'isRetweeted') do |f|
      button class='btn btn-link' id='unretweet-message-{{message.id}}' type='submit' data-toggle="tooltip" title="#{ t('vue.retweet_button.unretweet') }" v-class="
        disabled: !canRetweet
      "
        b.fa.fa-retweet
        span.retweets-count v-if="showCount && hasRetweets" = "{{ message.retweeted_count }}"
