/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require flatly/loader
 *= require fontawesome
 *
 *= require navigation
 *= require message_dialog
 *= require message_form
 *= require sessions
 *= require users
 *= require guest_home
 *= require user_home
 *= require notifications
 */

@import "twitter/bootstrap/bootstrap";
@import "variables.css.less";
@import "mixins.css.less";


// --------------------------------------------------------------------------------
//  Basic
// --------------------------------------------------------------------------------

h3 {
  margin: 0 0 10px 0;
  padding: 3px 0;
}

// utilities
// ----------------------------------------------

.icon {
  margin-right: 5px;
}

.fa, .glyphicon {
  .icon;
}

.additional-info {
  color: @app-text-light;
}

span.additional-info {
  margin: 0.5em;
}


form {
  .field_with_errors {
    .has-error();
  }
}


// --------------------------------------------------------------------------------
//  Layouts
// --------------------------------------------------------------------------------

body {
  margin: auto;
  padding-top: 50px;
  background-color: @app-main-bg;
}


.fixed-container {
  @media (max-width: 1199px) {
    min-width: 890px;
    max-width: 890px;
  }
  @media (min-width: 1200px) {
     min-width: 1200px;
     max-width: 1200px;
  }
}


#navigation {
  .container {
    .fixed-container;
  }
}

.header {
  .container {
    .fixed-container;
  }
}

.main {
  padding: 0;

  h1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .container {
    .fixed-container;
  }
}

.col {
  padding: 10px 5px;
}

.col-inner {
  .panel;
}

.bordered {
  border-top: 1px solid @app-separator;
}


// header
// ----------------------------------------------

.header {
  border-bottom: 1px solid @app-separator;
}

.header-head {
  height: 150px;
  background-color: @app-active;
  border-top: 2px solid darken(@app-active, 20%);
  border-bottom: 1px solid darken(@app-active, 20%);
}


// content panel
// ----------------------------------------------

div.pager-panel {
  text-align: center;
}

div.content-foot {
  text-align: center;
}


// footer panel
// ----------------------------------------------

div.footer-panel {
  div.col-inner {
    padding: 10px;
    color: @app-text-lighter;
    font-size: 12px;
    line-height: 18px;

    ul.list-inline {
      margin-bottom: 0px;
    }

    a {
      color: @app-text-lighter;
    }
  }
}


// alert panel
// ----------------------------------------------

.alert-panel {
  padding: 0 5px;

  .alert {
    margin-top: 10px;
    margin-bottom: 0px;
  }
}


// profile block
// ----------------------------------------------

.content-left {
  div.col-inner {
    .panel;
  }

  div.user-profile-image {
    position: relative;
    width: 210px;
    height: 210px;
    border: 1px solid @app-separator;
    border-radius: 10px;
    padding: 4px;
    background-color: @app-body-bg;

    img {
      width: 200px;
      height: 200px;
      border-radius: 5px;
    }
  }

  .user-profile-panel-main {
    padding-left: 5px;

    .user-profile-name {
      margin: 0;
      padding: 0;
      font-size: 24px;
      a {
        color: @text-color;
      }
    }

    p.user-profile-screen-name {
      color: @app-text-light;
      a {
        color: @app-text-light;
      }
    }
  }
}


// messages list block
// ----------------------------------------------

.messages-panel {
  > .col-inner {
    .list-panel();
  }

  div.messages-panel-head {
    border-bottom: 1px solid @app-separator;
    margin: 0;
  }
}

li.message {
  list-style-type: none;

  .message-head {
    a {
      text-decoration: none;

      .message-icon {
        float: left;
        margin-top: 5px;
        margin-right: 10px;

        img {
          border-radius: 3px;
        }
      }

      .message-owner-name {
        clear: both;
        color: @text-color;
        font-weight: bold;
      }

      .message-info {
        margin: 0 5px;
        font-size: 80%;
        color: @app-text-lighter;
      }

      &:hover {
        .message-owner-name {
          color: @app-active;
          text-decoration: underline;
        }

        .message-info {
          color: @app-text-lighter;
          text-decoration: none;
        }
      }
    }
  }

  .message-body {
    // reply link
    .at-reply-link {
      color: @app-active;

      &:hover {
        color: @app-active;
        text-decoration: none;

        .at-reply-screen-name {
          text-decoration: underline;
        }

        .at-mark {
        }  
      }
    }

    .empty-description {
      .additional-info();

      padding: 10px 15px;
      text-align: center;
      font-size: 12px;

      > .fa {
        display: block;
        padding-bottom: 10px;
      }
    }
  }

  .message-foot {
    margin-top: 5px;

    a {
      color: @app-text-light;

      &:hover {
        color: @app-active;
      }
    }

    > ul.list-inline > li {
      padding-right: 20px;
    }
  }
}


//  buttons
// ----------------------------------------------

// dropdown button

.dropdown-menu {
  > li > a {
    &:hover {
      color: #fff !important;
      background-color: @app-active;
    }
  }
}

.user-actions-button {
  color: @app-text-light;
  padding: 6px;
}


// follow or unfollow button

.follow-or-unfollow-button {
  display: inline-block;

  form.follow-button {
    > button {
      font-weight: bold;

      > b {
        color: @app-active;
      }
    }
  }

  form.unfollow-button {
    > button {
      min-width: 90px;

      > .unfollow  { display: none; }
      > .following { display: inline-block; }

      &:hover {
        .btn-danger();

        > .unfollow  { display: inline-block; }
        > .following { display: none; }
      }
    }
  }
}
