/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require flatly/loader
 *= require fontawesome
 *= require navigation
 *= require post_form
 *= require users
 *= require home
 */

@import "variables.css.less";
@import "mixins.css.less";


// --------------------------------------------------------------------------------
//  Basic
// --------------------------------------------------------------------------------

h1 {
  margin: 0 0 10px 0;
}

h3 {
  margin: 0 0 10px 0;
  padding: 3px 0;
}

// utilities
// ----------------------------------------------

.icon {
  margin-right: 5px;
}

.fa, .glyphicon {
  .icon;
}

.additional-info {
  color: @app-text-light;
}

span.additional-info {
  margin: 0.5em;
}


// --------------------------------------------------------------------------------
//  Layouts
// --------------------------------------------------------------------------------

body {
  margin: auto;
  padding-top: 50px;
}

#main {
  padding: 0;
  background-color: @app-main-bg;

  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.row {
  padding: 5px 0;
}

.col {
  padding: 5px;
}

.bordered {
  border-top: 1px solid @app-separator;
}


// header
// ----------------------------------------------

.header {
  border-bottom: 1px solid @app-separator;
}

.header-title {
  height: 150px;
  background-color: @app-active;
  border-top: 2px solid darken(@app-active, 20%);
  border-bottom: 1px solid darken(@app-active, 20%);
}


// main content
// ----------------------------------------------

div.content-foot {
  text-align: center;
}


// alert block
// ----------------------------------------------

.alert-block {
  padding: 0;

  > div.col-sm-12 {
    padding: 0 5px;

    .alert {
      margin-top: 10px;
      margin-bottom: 0px;
    }
  }
}

// profile block
// ----------------------------------------------

div.profile {
  top: -180px;

  div.col-inner {
    /* .panel; */
  }

  div.user-profile-image {
    position: relative;
    width: 210px;
    height: 210px;
    border: 1px solid @app-separator;
    border-radius: 10px;
    padding: 4px;
    background-color: @app-body-bg;

    img {
      width: 200px;
      height: 200px;
      border-radius: 5px;
    }
  }

  .user-profile-main {
    padding-left: 5px;

    .user-profile-name {
      margin: 0;
      padding: 0;
      font-size: 24px;
      a {
        color: @text-color;
      }
    }

    p.user-profile-screen-name {
      color: @app-text-light;
      a {
        color: @app-text-light;
      }
    }
  }
}


// post lists block
// ----------------------------------------------

div.posts {
  div.col-inner {
    .list-panel;
  }

  div.posts-header {
    border-bottom: 1px solid @app-separator;
    margin: 0;
  }

  ul li.post {
    .post-header {
      a {
        text-decoration: none;

        .post-icon {
          float: left;
          margin-top: 5px;
          margin-right: 10px;

          img {
            border-radius: 3px;
          }
        }

        .post-owner-name {
          clear: both;
          color: @text-color;
          font-weight: bold;
        }

        .post-info {
          margin: 0 5px;
          font-size: 80%;
          color: @app-text-lighter;
        }

        &:hover {
          .post-owner-name {
            color: @app-active;
            text-decoration: underline;
          }

          .post-info {
            color: @app-text-lighter;
            text-decoration: none;
          }
        }
      }
    }

    .post-footer {
      margin-top: 5px;

      a {
        color: @app-text-light;

        &:hover {
          color: @app-active;
        }
      }

      ul li {
        padding-right: 20px;
      }
    }
  }
}
