/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

// Fix web font paths
$icon-font-path: "bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "font-awesome-sass/assets/fonts/font-awesome/";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "font-awesome-sass/assets/stylesheets/font-awesome-sprockets";
@import "font-awesome-sass/assets/stylesheets/font-awesome";

@import "variables";
@import "mixins";
@import "home/guest_home";
@import "home/user_home";
@import "home/notifications";
@import "users/sessions";
@import "users/users";
@import "vue/shared/alert";
@import "vue/shared/modal_dialog";
@import "vue/shared/navigation";
@import "vue/messages/form";
@import "vue/messages/message";
@import "vue/users/content_navigation";
@import "vue/users/follow_button";
@import "vue/users/user_actions_button";
@import "vue/users/user_panel";


// --------------------------------------------------------------------------------
//  Basic
// --------------------------------------------------------------------------------

h3 {
  margin: 0 0 10px 0;
  padding: 3px 0;
}

// utilities
// ----------------------------------------------

.icon {
  margin-right: 5px;
}

.fa, .glyphicon {
  @extend .icon;
}

.additional-info {
  color: $app-text-light;
}

span.additional-info {
  margin: 0.5em;
}


form {
  .field_with_errors {
    @extend .has-error;
  }
}


[v-cloak] {
  display: none;
}


// --------------------------------------------------------------------------------
//  Layouts
// --------------------------------------------------------------------------------

body {
  margin: auto;
  padding-top: 50px;
  background-color: $app-main-bg;
}


.fixed-container {
  @media (max-width: 1199px) {
    min-width: 890px;
    max-width: 890px;
  }
  @media (min-width: 1200px) {
     min-width: 1200px;
     max-width: 1200px;
  }
}


#navigation {
  .container {
    @extend .fixed-container;
  }
}

.header {
  .container {
    @extend .fixed-container;
  }
}

.main {
  padding: 0;

  h1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .container {
    @extend .fixed-container;
  }
}

.col {
  padding: 10px 5px;
}

.col-inner {
  @extend .panel;
}

.bordered {
  border-top: 1px solid $app-separator;
}


// header
// ----------------------------------------------

.header {
  border-bottom: 1px solid $app-separator;
}

.header-head {
  height: 150px;
  background-color: $app-active;
  border-top: 2px solid darken($app-active, 20%);
  border-bottom: 1px solid darken($app-active, 20%);
}


// content panel
// ----------------------------------------------

div.pager-panel {
  text-align: center;
}

div.content-foot {
  text-align: center;
}


// footer panel
// ----------------------------------------------

div.footer-panel {
  div.col-inner {
    padding: 10px;
    color: $app-text-lighter;
    font-size: 12px;
    line-height: 18px;

    ul.list-inline {
      margin-bottom: 0px;
    }

    a {
      color: $app-text-lighter;
    }
  }
}


// profile block
// ----------------------------------------------

.content-left {
  div.col-inner {
    @extend .panel;
  }

  div.user-profile-image {
    position: relative;
    width: 210px;
    height: 210px;
    border: 1px solid $app-separator;
    border-radius: 10px;
    padding: 4px;
    background-color: $app-body-bg;

    img {
      width: 200px;
      height: 200px;
      border-radius: 5px;
    }
  }

  .user-profile-panel-main {
    padding-left: 5px;

    .user-profile-name {
      margin: 0;
      padding: 0;
      font-size: 24px;
      a {
        color: $text-color;
      }
    }

    p.user-profile-screen-name {
      color: $app-text-light;
      a {
        color: $app-text-light;
      }
    }
  }
}


// messages list block
// ----------------------------------------------

.messages-panel {
  > .col-inner {
    @extend .list-panel;
  }

  div.messages-panel-head {
    border-bottom: 1px solid $app-separator;
    margin: 0;
  }
}
