@import "variables";


@mixin placeholder-color($color) {
  &:-moz-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}


$panel-radius : 10px;

.panel {
  border: 1px solid $app-separator;
  border-radius: $panel-radius;
  background-color: $app-body-bg;
  margin-bottom: 10px;
  box-shadow: none;
}

.top-radius {
  border-top-left-radius:  $panel-radius;
  border-top-right-radius: $panel-radius;
}

.bottom-radius {
  border-bottom-left-radius:  $panel-radius;
  border-bottom-right-radius: $panel-radius;
}

.list-panel {
  @extend .panel;

  padding: 0;
  border-bottom: 0px;

  > ul {
    margin: 0;
    padding: 0;

    > li {
      margin: 0;
      padding: 10px;
      border-bottom: 1px solid $app-separator;
      list-style-type: none;

      &:last-child {
        border-bottom-width: 0;
      }
    }
  }
}
