@import "variables.css.less";
@import "mixins.css.less";


.users-show {

  // content navigation
  // ----------------------------------------------

  .header {
    background-color: @app-body-bg;

    .content-navigation {
      padding: 0;

      ul.nav {
        padding: 0;

        li {
          text-align: center;

          span.nav-label,
          span.nav-value {
            display: block;
          }

          span.nav-label {
            font-size: 75%;
            color: @gray-light;
          }
          span.nav-value {
            font-weight: bold;
          }

          a {
            padding: 5px 15px;
            border-bottom: 5px solid transparent;
          }

          &.active a,
          a:hover {
            border-bottom-color: @component-active-bg;
            background-color: transparent;
          }
        }
      }
    }
  }


  // profile block
  // ----------------------------------------------

  .profile {
    .user-profile {
      border-width: 0;
      margin-bottom: 25px;
      background-color: transparent;
    }
  }


  // posts list block
  // ----------------------------------------------

  .posts-header {
    padding: 0 15px;
    font-size: 18px;

    ul li {
      padding: 10px 30px 0 0;
    }
  }

  .posts {
    ul li.post {
      .post-head {
        img {
          width: 24px;
          height: 24px;
        }
      }

      .post-body,
      .post-foot {
        margin-left: 30px;
      }

      .post-foot {
        ul li {
          padding-left: 10px;
        }
      }
    }
  }
}

