@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins/alerts";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/alerts";
@import "variables";
@import "mixins";


.session {
  h3 {
    margin: 0 0 15px 0;
    border-bottom: 1px solid $gray-light;
  }

  .profile_image {
    margin-bottom: 10px;

    img {
      border: 1px solid $app-separator;
    }
  }

  .form-additional-info {
    margin-left: 1em;
  }
}

.session-panel {
  > .col-inner {
    padding: 0 80px;

    > hr {
      margin: 15px -80px;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 15px;
    }

    h3 {
      margin-bottom: 10px;
      color: $app-text-light;
      font-size: 20px;
      font-weight: normal;
    }

    .form-block {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .omniauth-logins-block,
    .signup-link-block {
      margin: 0 -80px;
      padding: 20px 80px;
      border-top: 1px solid $app-separator;
      color: $app-text-light;
    }

    .omniauth-logins-block {
    }
    .signup-link-block {
      @extend .bottom-radius;
    }


    .form-additional-info {
      margin-left: 1em;
    }
  }
}
